In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.linear_model import LinearRegression

In [4]:
# Создаём сэмпл
n_samples = 1000

temperature = np.random.choice(100, n_samples) + 55
pressure = np.random.choice(900, n_samples) + 15
light = np.random.choice(80, n_samples) + 10
air_humidity = np.random.choice(100, n_samples) + 10

volume = pressure * temperature * 100 + 434


data = pd.DataFrame({'temperature': temperature, 'pressure': pressure, 'light': light, 'air_humidity': air_humidity, 'volume': volume})
data.head(5)

   temperature  pressure  light  air_humidity   volume
0           62       715     43            96  4433434
1           73       733     74            88  5351334
2          142       230     36            64  3266434
3           68        66     84            96   449234
4           57       592     42            69  3374834

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   temperature   1000 non-null   int32
 1   pressure      1000 non-null   int32
 2   light         1000 non-null   int32
 3   air_humidity  1000 non-null   int32
 4   volume        1000 non-null   int32
dtypes: int32(5)
memory usage: 19.7 KB

In [21]:
# df1 = df.iloc[:,0:2]
data_inp = data.iloc[:, 0:4]
data_inp

     temperature  pressure  light  air_humidity
0             62       715     43            96
1             73       733     74            88
2            142       230     36            64
3             68        66     84            96
4             57       592     42            69
..           ...       ...    ...           ...
995           74       789     40            35
996          134       689     80            48
997          153       455     32            95
998           66       244     77           104
999          120       535     12            58

[1000 rows x 4 columns]

In [22]:
#X = data[['temperature', 'pressure', 'light', 'air_humidity', 'volume']]
X = data.iloc[:, 0:4]
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   temperature   1000 non-null   int32
 1   pressure      1000 non-null   int32
 2   light         1000 non-null   int32
 3   air_humidity  1000 non-null   int32
dtypes: int32(4)
memory usage: 15.8 KB

In [24]:
y = data['volume']
y

0      4433434
1      5351334
2      3266434
3       449234
4      3374834
        ...
995    5839034
996    9233034
997    6961934
998    1610834
999    6420434
Name: volume, Length: 1000, dtype: int32

In [27]:
from sklearn.metrics import mean_absolute_error


reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(X)
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [46892.25345052 10496.24237874   -76.7878189    129.8550368 ]
Bias: -4919237.049899315
Error: 549816.9452536332

In [28]:
y.median()

4458034.0

In [30]:
X = data[['pressure', 'temperature']]
y = data['volume']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(X)
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [10496.17540281 46891.7926674 ]
Bias: -4915058.001612276
Error: 549993.4999792249

In [31]:
# Создаем новый признак
data['mult'] = data['pressure'] * data['temperature']
data.head(5)

   temperature  pressure  light  air_humidity   volume   mult
0           62       715     43            96  4433434  44330
1           73       733     74            88  5351334  53509
2          142       230     36            64  3266434  32660
3           68        66     84            96   449234   4488
4           57       592     42            69  3374834  33744

In [33]:
X = data[['mult']]
# y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['mult']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [100.]
Bias: 434.0
Error: 7.906783139333129e-10

In [34]:
from sklearn.preprocessing import PolynomialFeatures

In [36]:
poly = PolynomialFeatures()
X = poly.fit_transform(data.iloc[:, 0:4])
y = data['volume']
poly.get_feature_names()

['1',
 'x0',
 'x1',
 'x2',
 'x3',
 'x0^2',
 'x0 x1',
 'x0 x2',
 'x0 x3',
 'x1^2',
 'x1 x2',
 'x1 x3',
 'x2^2',
 'x2 x3',
 'x3^2']

In [38]:
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(X)
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [ 0.00000000e+00  2.09557774e-11  5.27382944e-12 -3.36913686e-12
 -5.07631119e-12 -5.89692869e-14  1.00000000e+02 -1.46008523e-13
 -5.81665313e-14  8.76187311e-14 -6.80595967e-14 -3.86803689e-13
 -4.08760643e-14  7.20635866e-15  6.90126390e-15]
Bias: 434.0000000093132
Error: 8.60427098814398e-09